body {
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

.logo-header .top-header {
    display: grid;
    grid-template-columns: 0.6fr 1.6fr 0.6fr;
    /* grid-template-columns: 0.7fr 1fr 0.7fr; */
    margin: 10px 40px;
    grid-gap: 30px;
    text-align: center;
}

.logo-header .top-headers3 {
    display: grid;
    grid-template-columns: 0.9fr 0.5fr 1fr;
    grid-gap: 10px;
}

.logo-header .top-headers1,
.logo-header .top-headers3 {
    align-self: center;
}

.logo-header .top-headers1 {
    padding: 0 10px;
}

.logo-header .header {
    background-color: #fff !important;
    padding: 10px 30px;
    text-align: center;
}

.logo-header .top-header .top-headers2 img {
    height: 80px;
}

.logo-header .top-header33 p {
    float: left;
}

@media screen and (max-width: 1158px) {
    .logo-header .top-header {
        grid-template-columns: 0.6fr 1.6fr 0.6fr;
        margin: 10px 3px;
        grid-gap: 5px;
    }
}

@media screen and (max-width: 1038px) {
    .logo-header .top-header {
        grid-template-columns: 0.6fr 1fr 0.6fr;
    }
}

@media screen and (max-width: 911px) {
    .logo-header .top-header {
        grid-template-columns: 0.6fr 1fr 1fr;
    }
    .logo-header .header {
        padding: 10px;
    }
}

@media screen and (max-width: 852px) {
    /* .logo-header .top-header {
        grid-template-columns: 1fr;
    } */
    .logo-header .top-header31 {
        text-align: right;
    }
    .logo-header .top-headers3 {
        grid-template-columns: 0.9fr 0.2fr 1fr;
        grid-gap: 20px;
    }
}

@media screen and (max-width: 837px) {
    .logo-header .top-header {
        margin: 10px 0;
        grid-gap: 10px;
    }
}

@media screen and (max-width: 717px) {
    .logo-header .header {
        padding: 10px;
    }
    .logo-header .top-headers1 p,
    .logo-header .top-headers3 p {
        font-size: 14px;
    }
}

@media screen and (max-width: 410px) {
    .logo-header .top-headers3 {
        grid-template-columns: 0.9fr 0.5fr 1fr;
        /* grid-gap: 20px; */
    }
    /* .logo-header .top-headers2 a img {
        width: 100%;
    } */
    .logo-header .header {
        padding: 0px;
    }
}


/* below header */

.main-navbar {
    /* overflow: hidden; */
    background-color: var(--primary) !important;
    padding: 2px 0;
}

.main-navbar a {
    float: left;
    display: block;
    color: #f2f2f2 !important;
    text-align: center;
    padding: 2px 18px !important;
    /* padding: 5px 16px; */
    text-decoration: none;
    font-size: 16px;
    font-family: var(--semibold);
}

.main-navbar .dropdown-menu.show a:hover,
.main-navbar #navbar a:hover {
    border-bottom: 1px solid #fff;
    background: transparent;
}

.main-navbar .dropdown-menu.show a.active,
.main-navbar #navbar a.active {
    border-bottom: 1px solid #fff;
    background: transparent;
}

.main-navbar .dropdown-menu.show {
    background: var(--secondary);
    display: inline-block;
    border: none;
}

.main-navbar .content {
    padding: 16px;
}

@media screen and (max-width: 1024px) {
    .main-header #navbar a {
        padding: 5px 11px;
    }
    .top-headers2 a img {
        height: 60px;
    }
}

@media screen and (max-width: 600px) {
    .logo-header .top-header {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 922px) {
    .main-header #navbar {
        margin: 0;
    }
}

@media screen and (max-width: 868px) {
    .main-header #navbar a {
        padding: 2px 8px;
        font-size: 14px;
    }
}

@media screen and (max-width: 546px) {
    .top-headers2 a img {
        height: 41px;
    }
}

@media screen and (max-width: 399px) {
    .top-headers2 a img {
        height: 56px;
    }
}

@media screen and (max-width: 336px) {
    .logo-header .top-headers1 {
        padding: 0;
    }
}