.col-5{
    @include rowcol;
    flex:0 0 20%;
    -ms-flex:0 0 20%;
    max-width: 20%;
}
.dash-top{
    .card.card-widget{
        text-align: center;
        @include anim05;
        transform: translateZ(0);
        .body{
            .card-content{
                text-align: center;
                padding:30px 0;
                .card-icon{
                    width:80px;
                    height: 80px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin:0 auto;
                    background-color: $color-blue;
                    @include radius50;
                    -ms-box-shadow: 0 1px 6px 0 rgba($color-blue, 0.4);
                    -moz-box-shadow: 0 1px 6px 0 rgba($color-blue, 0.4);
                    -webkit-box-shadow: 0 1px 6px 0 rgba($color-blue, 0.4);
                    box-shadow: 0 1px 6px 0 rgba($color-blue, 0.4);
                    @include anim05;
                    i{
                        font-size:2.5rem;
                        font-weight: 600;
                        color: rgba($color-white, 0.9);
                        @include anim05;
                    }
                }
                .card-text{
                    color:$color-primary;
                    
                    h3{
                        font-weight: 600;  
                        margin:15px 0;
                        
                    }
                    h5{
                        text-transform: uppercase;
                        font-size:0.775rem;
                        color:$color-secondary;
                        @include anim05;
                        font-weight: 600;
                    }
                }
            }
        }
        &:hover{
            transform: translate(0, -4px);
            .body{
                .card-content{
                    .card-icon{
                        -ms-box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                        -moz-box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                        -webkit-box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                        box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                    }
                    .card-text{
                        h5{
                            color:$color-orange;
                        }
                    }
                }
            }
        }
        
    }
    
}

.project-section{
    margin-bottom: 2rem;
    .card{
        background-color: $color-light;
        .card-header{
            border-bottom: 1px solid rgba($color-primary, 0.2);
            h5{
                margin-bottom: 0;
                text-transform: uppercase;
                font-size: 0.775rem;
                font-weight: 600;
            }
        }
    }
    .project-list{
        .card-body{
            ul{
                li{
                    font-size: 0.875rem;
                    label{
                        font-weight: 700;
                        font-size: 0.775rem;
                        margin-right: 0.5rem;
                        text-transform: capitalize;
                        min-width: 150px;
                    }
                }
            }
            .logo-list{
                @include flexjust;
                justify-content: center;
                align-items: flex-end;
                a{
                    margin-right: 1rem;
                    text-align: center;
                    img{
                        max-width: 150px;
                    }
                    h5{
                        font-size: 0.975rem;
                        text-transform: capitalize;
                        margin-top:0.5rem;
                    }
                    
                }
            }
        }
    }
}
.map-view{
    .card.card-widget{
        @include anim05;
        transform: translateZ(0);
        background-color:$color-bg;
        .body{
            background-color:$color-bg;
            padding: 1rem;
            .card-content{
                @include flexjust;
                justify-content: flex-start;
                align-content: center;
                padding:0.6rem 0;
                .card-icon{
                    width:40px;
                    height: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $color-blue;
                    @include radius50;
                    -ms-box-shadow: 0 1px 6px 0 rgba($color-blue, 0.4);
                    -moz-box-shadow: 0 1px 6px 0 rgba($color-blue, 0.4);
                    -webkit-box-shadow: 0 1px 6px 0 rgba($color-blue, 0.4);
                    box-shadow: 0 1px 6px 0 rgba($color-blue, 0.4);
                    @include anim05;
                    margin-right: 1rem;
                    i{
                        font-size:1.5rem;
                        font-weight: 600;
                        color: rgba($color-white, 0.9);
                        @include anim05;
                    }
                }
                .card-text{
                    color:$color-primary;
                    h3{
                        font-weight: 600;
                        font-size: 1rem; 
                    }
                    h5{
                        text-transform: uppercase;
                        font-size:0.675rem;
                        color:$color-secondary;
                        @include anim05;
                        font-weight: 600;
                    }
                }
            }
        }
        &:hover{
            transform: translate(0, -4px);
            .body{
                .card-content{
                    .card-icon{
                        -ms-box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                        -moz-box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                        -webkit-box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                        box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                        background-color: $color-pink;
                    }
                    .card-text{
                        h5{
                            color:$color-orange;
                        }
                    }
                }
            }
        }
        
    }
}
.about-section{
    .about-view{
        .card-body{
            background-color: $color-white;
            .card.card-widget{
                .body{
                    background-color: $color-bg;
                    .card-content{
                        text-align: center;
                        .card-icon{
                            width:40px;
                            height: 40px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            background-color: $color-blue;
                            @include radius50;
                            -ms-box-shadow: 0 1px 6px 0 rgba($color-blue, 0.4);
                            -moz-box-shadow: 0 1px 6px 0 rgba($color-blue, 0.4);
                            -webkit-box-shadow: 0 1px 6px 0 rgba($color-blue, 0.4);
                            box-shadow: 0 1px 6px 0 rgba($color-blue, 0.4);
                            @include anim05;
                            margin:0 auto;
                            i{
                                font-size:1.5rem;
                                font-weight: 600;
                                color: rgba($color-white, 0.9);
                                @include anim05;
                            }
                        }
                        h3{
                            font-size:1rem;
                            text-transform: capitalize;
                            margin-top:1rem;
                        }
                        p{
                            margin-bottom: 0;
                            label{
                                margin:0;
                                min-width: 80px;;
                            }
                        }
                        &.common-color{
                            @include flexjust;
                            justify-content: flex-start;
                            align-items: center;
                            .card-icon{
                                width:60px;
                                height: 60px;
                                margin:0;
                                margin-right: 1rem;
                            }
                            .content{
                                text-align: left;
                                h2{
                                    margin:0;
                                }
                                h3{
                                    margin:0;
                                }
                            }
                            
                        }
                        &.blue{
                            .content{
                                h2{
                                    color:$color-blue
                                }
                            }
                        }
                        &.red{
                            .card-icon{
                                background-color: $color-pink;
                            }
                            .content{
                                h2{
                                    color:$color-pink;
                                }
                            }
                        }
                        &.green{
                            .card-icon{
                                background-color: $color-secondary;
                            }
                            .content{
                                h2{
                                    color:$color-secondary
                                }
                            }
                        }
                    }
                    

                }
                &:hover{
                    transform: translate(0, -4px);
                    .body{
                        .card-content{
                            .card-icon{
                                -ms-box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                                -moz-box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                                -webkit-box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                                box-shadow: 0 1px 13px 0 rgba($color-secondary, 0.4);
                                background-color: $color-pink;
                            }
                            .card-text{
                                h5{
                                    color:$color-orange;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#Beneficiary_table{
    width:100% !important;
}
.report-table{
    .card-body{
        background-color: $color-white;

    }
}
.graph{
    .graph-warpper{
        background-color:$color-white;
        nav{
            padding:1rem 1rem 0 1rem;
            .nav{
                a.nav-link{
                    text-transform: capitalize;
                    font-weight: 600;
                    &.active{
                        background-color: $color-blue;
                        color:$color-white;
                    }
                }
            }
        }
    }
    
    &.activity-graph{
        margin-top:3rem;
    }
}
.report-title{
    h5{
        font-size:1rem;
        text-transform: uppercase;
        font-weight: 600;
        border-bottom: 1px solid $color-grey;
        padding-bottom: 0.5rem;
    }
}
.report-form{
    
    .card-body{
        background-color: $color-white;
    }
    form{
        @include flexjust;
        justify-content: flex-start;
        align-items: flex-end;
        .form-group{
            max-width: 12rem;
            width:100%;
            min-width: 10rem;
            margin-right: 1rem;
            margin-bottom: 0.5rem;
            .project-id{
                @include flexjust;
                justify-content: flex-start;
                align-items: center;
                label{
                    margin-right: 15px;
                    font-weight: 600;
                }
                span{
                    padding:5px 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $color-bg;
                    color:$color-primary;
                    border:1px solid rgba($color-primary, 0.2);
                    @include radius5;
                }
            }
            input.form-control, textarea{
                background-color: $color-bg;
                border-color:rgba($color-primary, 0.2);
                border-color: none!important;
                -webkit-outline:none!important;
                outline:none !important;
                box-shadow: none !important;
                &::placeholder{
                    font-size: 0.775rem;
                    color:$color-primary;
                }
                &:focus{
                    border-color: none!important;
                    -webkit-outline:none!important;
                    outline:none !important;
                    box-shadow: none !important;
                }
            }
            .input-group-append{
                .input-group-text{
                    background-color:transparent;
                    color:$color-secondary;
                    border-color:rgba($color-primary, 0.2);
                    @include anim05;
                    &:hover{
                        background-color:$color-orange;
                    }
                }
            }
            .select-option{
                position: relative;
                @include radius5;
                font-size:0.775rem;
                &::after{
                    content:'\f110';
                    font-family: 'LineAwesome';
                    @include translatey;
                    right:10px;
                    color:$color-secondary;
                    pointer-events: none;
                }
                span{
                    // display: block;
                    // padding:0.5rem 1rem;
                    // cursor: pointer;
                    font-size:0.775rem;
                }
                .select-list{
                    position: absolute;
                    top:100%;
                    width:100%;
                    left:0;
                    background-color: $color-light;
                    border:1px solid rgba($color-primary, 0.2);
                    @include radius5;
                    padding:10px;
                    z-index:999;
                    opacity:0;
                    visibility: hidden;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    -webkit-transform:scale(0, 0);
                    -moz-transform: scale(0, 0);
                    -o-transform: scale(0, 0);
                    -ms-transform: scale(0, 0);
                    transform:scale(0, 0);
                    ul{
                        li{
                            .checkbox{
                                label{
                                    text-transform: capitalize;
                                    margin:0;
                                    line-height: 14px;
                                    padding-left: 20px;
                                    &::after,
                                    &::before{
                                        width: 14px;
                                        height: 14px;
                                        line-height: 14px;
                                        border: 1px solid $color-primary;
                                    }
                                }
                                
                            }
                        }
                    }
                    &.select-open{
                        -webkit-transform:scale(1, 1);
                        -moz-transform: scale(1, 1);
                        -o-transform: scale(1, 1);
                        -ms-transform: scale(1, 1);
                        transform:scale(1, 1);
                        opacity: 1;
                        visibility: visible;
                    }
                }
                
            }
            &:last-child{
                margin-right: 0;
            }
            
        }
    }
}
.graph-column{
    padding:15px;
    .card{
        background-color: $color-bg;
        margin-bottom: 3rem;
        .card-header{
            border:none;
            h5{
                margin-bottom: 0;
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 600;
            }
        }
        .progress {
            border-radius: 0;
            overflow: visible;
            background-color: $color-primary;
            position: relative;
            height: 4px;
            @include radius5;
            .progress-bar{
                background-color: $color-secondary;
                -webkit-transition: width 1.5s ease-in-out;
                transition: width 1.5s ease-in-out;
                position: relative;
                height: 4px;
                @include radius5;
                .popOver{
                    position: absolute;
                    bottom:5px;
                    right:-15px;
                    color:$color-secondary;
                    font-size: 0.675rem;
                  }
            }
        }
        &.ben-card{
            background-color: $color-white;
        }
        .table{
            img{
                max-width: 50px;
            }
        }
        
    }
}
.c3-chart-arcs-title {
    fill: $color-primary;
}
.c3-legend-item text {
    fill: $color-primary;
    font-size: 12px;
}
.leaflet-popup-content{
    width:200px !important;
    margin:10px;
    max-height: 200px;
    overflow: auto;
    ul{
        li{
            @include flexjust;
            justify-content: flex-start;
            align-items: center;
            padding:0.3rem 0;
            border-bottom: 1px solid $color-bg;
            label{
                font-weight: 600;
                margin:0 0.7rem 0 0;
            }
            &:last-child{
                padding-bottom: 0;
                border:none;
            }
            &:first-child{
                padding-top: 0;
            }
        }
    }
}
.leaflet-container a.leaflet-popup-close-button{
    color:$color-secondary;
}
.about-section{
    .card-header h5 {
        font-size:1rem;
        text-transform: uppercase;
        font-weight: 600;
    }
}