#search {
    @include anim05;
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    background-color: rgba($color-primary, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9999;
    input[type="search"] {
        color: $color-white;
        background: rgba($color-light, 0.5);
        font-weight: 300;
        position: absolute;
        top: 50%;
        width: 100%;
        font-size: 60px;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
        @include anim05;
    }
    input[type="search"]::placeholder {
        color:$color-bg;
        color: $color-white;
    }
    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 61px;
        margin-left: -45px;
    }
    .close {
        position: fixed;
        top: 15px;
        right: 15px;
        left: auto;
        margin: 0;
        opacity: 1;
        width: 40px;
        height: 40px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: none;
        border:2px solid $color-orange;
        font-size: 1.2rem;
        @include radius50;
        &:hover {
            background: $color-orange;
            color: $color-white;
        }
    }
    &.open {
        -moz-transform: translate(0px, 0px) scale(1, 1);
        -ms-transform: translate(0px, 0px) scale(1, 1);
        -o-transform: translate(0px, 0px) scale(1, 1);
        -webkit-transform: translate(0px, 0px) scale(1, 1);
        transform: translate(0px, 0px) scale(1, 1);
        opacity: 1
    }
}
.help{
    position: relative;
    float: right;
    .help-icon{
        @include anim05;
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border:1px solid $color-primary;
        @include radius50;
        cursor: pointer;
        i{
            color:$color-orange;
            // animation: heartbit 0.5s ease-out;
            // -moz-animation: heartbit 0.5s ease-out;
            // -moz-animation-iteration-count: infinite;
            // -o-animation: heartbit 0.5s ease-out;
            // -o-animation-iteration-count: infinite;
            // -webkit-animation: heartbit 0.5s ease-out;
            // -ms-animation: heartbit 0.5s ease-out;
            // -webkit-animation-iteration-count: infinite;
            // animation-iteration-count: infinite;
        }
       
    }
    .helpContent-wrap{
            font-size:0.775rem;
            background-color: $color-bg;
            color:$color-primary;
            display: none;
            min-width: 300px;
            width: 100%;
            padding:15px;
            position: absolute;
            right:35px;
            top:5px;
            z-index: 99;
            &::before{
                color: $color-bg;
                display: inline-block;
                position: absolute;
                width: 0;
                height: 0;
                vertical-align: middle;
                content: "";
                top: 0;
                left: auto;
                right: -8px;
                border-left: 0.6em solid;
                border-top: 0.6em solid transparent;
                border-bottom: 0.6em solid transparent;
            }
        .help-content{
            
            
        }
    }
    
}
